/* ------ Navigation Bar Styling ------- */
#Nav1 {
    height: 85px;
    background-color: midnightblue;
    font-family: 'Glyphicons Halflings';
}
#logo {
    width: 80px;
    height: 70px;
    margin-top: -10px;
}
#panel {
    margin-top: 10px;
    border-radius: 15%;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    color: #DFDAFA;
}
#panel:hover {
    background-color: midnightblue;
    color: white;
}
.active{
    margin-left: 10px;
    padding-bottom: 0;
    padding: 2PX;
    border-radius: 2px;
}
.navbar-right {
    float: right;
    margin-right: auto;
    border-bottom: 2px;
}

/* -------------------------------- */

/* ------- Content ---------- */
.headtext{
    background-image: linear-gradient(to right, #0695A1 , #BEEFF3);
    /*background-color: #1abc9c;/*palegreen*/
    text-align: center;
    color: black;
}

#img1 {
    margin-top: 15px;
    width: 200px;
    height: 200px;
}

#welcome {
    -webkit-animation-name: welcome;
    -webkit-animation-duration: 4s;
    animation-name: welcome;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
}

@-webkit-keyframes welcome {
  from {color: #211146;}
  to {color: #662A95;}
}

@keyframes welcome {
  from {color: #211146;}
  to {color: #662A95;}
}

/* ------------------------------------------- */

#login{
    height: 60px;
    width: 80px;

}
#home{
    padding-left: 10px;
    height: 30px;
    width: 40px;
}
#form2{
    background-color: dimgray;
    color: black;
    text-align: center;
 

}
#form1{
    background-color: peachpuff;
    color: black;
    text-align: center;
    
}

}
.container{
	color: black;
	text-decoration: blink;
    text-decoration-color: cornsilk;
    text-decoration-style: double;
    text-align: center;
    font-size:x-large;
    font-weight: bolder;
    font-family: -webkit-pictograph;
    
    backface-visibility: hidden;
}
.container2{
    background-color: darkslategray;
    
}
.lead{
    text-align: center;
    font-size: 15px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}


button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    text-align: left;
    text-size-adjust: inherit;
    text-indent: left;
    margin: initial;
    padding-left: 3px;
    text-orientation: upright;
}
h2 {
    font-size: 30px;
    font-family: -webkit-pictograph;
    font-feature-settings: normal;
    text-shadow: transparent;
}
b,strong {
    text-decoration-color: antiquewhite;
    font-weight: 700;
    font-size: -webkit-xxx-large;
    color: floralwhite;
}

footer {
    position: fixed;
    bottom: -10px;
    width: 100%;
}